Webpack(import/exports)
	babel
	Scss
	Eslint
	2 Modes
	    -Dev
	      Dev Server, SourceMaps, Eslint, Not Minified JS & CSS

	    -Prod
	      Minified Code

Git

    Production
	1.0.0 v
	ветки - branch
                    0 =======

    Development
	1.0.2 v
	ветки - branch
                    1 =========== + ===      PR - pull request
	2 ============== | - удаляется